In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_train = pd.read_excel('Data_Train.xlsx')
df_test = pd.read_excel('Test_set.xlsx')
df_train
df_test.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info'],
      dtype='object')

In [3]:
df_train.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [4]:
final_df = df_train.append(df_test)
final_df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_19808\1952115094.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = df_train.append(df_test)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [5]:
#feature engineering part
#lets seprate date 

final_df['day']=final_df['Date_of_Journey'].str.split('/').str[0] #or .apply(lambda x:x.split('/')[0])
final_df['months']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [6]:
final_df['day']

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: day, Length: 13354, dtype: object

In [7]:
final_df['year']

0       2019
1       2019
2       2019
3       2019
4       2019
        ...
2666    2019
2667    2019
2668    2019
2669    2019
2670    2019
Name: year, Length: 13354, dtype: object

In [8]:
final_df['months']

0       03
1       05
2       06
3       05
4       03
        ..
2666    06
2667    03
2668    03
2669    03
2670    06
Name: months, Length: 13354, dtype: object

In [9]:
final_df['Arr_hour']= final_df['Arrival_Time'].apply(lambda x : x.split(' ')[0]).str[:2]
final_df['Arr_minute']=final_df['Arrival_Time'].apply(lambda x : x.split(' ')[0]).str[3:5]

In [11]:
final_df['Arr_minute']

0       10
1       15
2       25
3       30
4       35
        ..
2666    25
2667    55
2668    25
2669    15
2670    15
Name: Arr_minute, Length: 13354, dtype: object

In [12]:
final_df['Arr_hour']

0       01
1       13
2       04
3       23
4       21
        ..
2666    20
2667    16
2668    04
2669    19
2670    19
Name: Arr_hour, Length: 13354, dtype: object

In [13]:
#final_df.drop(['Arrival_Time','Date_of_Journey'],axis=1,inplace = True)

In [14]:
final_df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'day', 'months', 'year', 'Arr_hour',
       'Arr_minute'],
      dtype='object')

In [15]:
#there is codeis correct i dont know why error is still coming may be just refresh the notebook it will rectify

final_df['year'] =final_df['year'].astype(int)
final_df['months']=final_df['months'].astype(int)
final_df['minute']=final_df['minute'].astype(int)
final_df['hour']=final_df['hour'].astype(int)
final_df['day']=final_df['day'].astype(int)
final_df.info()

KeyError: 'minute'

In [17]:
final_df.drop('Route',axis=1,inplace = True)

In [18]:
Total_Stops = {'non-stop':0,'1 stops':1,'2 stops':2,'3 stops':3,'4 stops':4}

In [19]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [20]:
final_df['Total_Stops'] = final_df['Total_Stops'].map({'non-stop':0,'1 stops':1,'2 stops':2,'3 stops':3,'4 stops':4})

In [21]:
final_df['Total_Stops']

0       0.0
1       2.0
2       2.0
3       NaN
4       NaN
       ...
2666    NaN
2667    0.0
2668    NaN
2669    NaN
2670    NaN
Name: Total_Stops, Length: 13354, dtype: float64

In [22]:
final_df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Dep_Time',
       'Arrival_Time', 'Duration', 'Total_Stops', 'Additional_Info', 'Price',
       'day', 'months', 'year', 'Arr_hour', 'Arr_minute'],
      dtype='object')

In [23]:
final_df['Duration_hour'] = final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [24]:
final_df['Duration_hour']

0        2
1        7
2       19
3        5
4        4
        ..
2666    23
2667     2
2668     6
2669    15
2670    14
Name: Duration_hour, Length: 13354, dtype: object

In [16]:
final_df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,months,year,Arr_hour,Arr_minute
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019,04,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,3,2019,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,6,6,2019,20,25
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,27,3,2019,16,55
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,6,3,2019,04,25
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,6,3,2019,19,15
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,15,6,2019,19,15

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [ ]:
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=labelencoder.fit_transform(final_df['Source'])
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [ ]:
final_df

In [ ]:
#drop columns,date,arrival time
final_df['Dep_hour']= final_df['Dep_Time'].apply(lambda x : x.split(':')[1]
final_df['Dep_minute']=final_df['Dep_Time'].apply(lambda x : x.split(':')[0])

In [ ]:
pd.get_dummies(final_df, columns= (['Airline','Destination','Source','Additional_Info']),drop_first = True)

In [25]:
final_df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Dep_Time',
       'Arrival_Time', 'Duration', 'Total_Stops', 'Additional_Info', 'Price',
       'day', 'months', 'year', 'Arr_hour', 'Arr_minute', 'Duration_hour'],
      dtype='object')

In [ ]:
#drop unwanted features

final_df.drop(['Duration'],axis=1,inplace=True)

In [ ]:
final_df.info()

In [ ]:
#change the data types object to int

In [26]:
final_df[final_df['Duration_hour']=='5m']
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [27]:
final_df['Duration_hour']=final_df['Duration_hour'].astype('int')
final_df['day']=final_df['day'].astype('int')
final_df['Arr_hour']=final_df['Arr_hour'].astype('int')
final_df['Arr_minute']=final_df['Arr_minute'].astype('int')
#final_df['Dep_Time'].astype('int')

In [28]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Date_of_Journey  13351 non-null  object
 2   Source           13351 non-null  object
 3   Destination      13351 non-null  object
 4   Dep_Time         13351 non-null  object
 5   Arrival_Time     13351 non-null  object
 6   Duration         13351 non-null  object
 7   Total_Stops      6294 non-null   float64
 8   Additional_Info  13351 non-null  object
 9   Price            10681 non-null  float64
 10  day              13351 non-null  int32
 11  months           13351 non-null  int32
 12  year             13351 non-null  int32
 13  Arr_hour         13351 non-null  int32
 14  Arr_minute       13351 non-null  int32
 15  Duration_hour    13351 non-null  int32
dtypes: float64(2), int32(6), object(8)
memory usage: 1.4+ MB